html,
body {
    height: 100%;
    border: 8px solid white;
    font-family: "proxima-nova",sans-serif;
    font-weight: 100;
    font-size: 17px;
    line-height: 32px;
}

nav a {
    font-family: "proxima-nova",sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
}

h1 {
    font-family: "utopia-std-headline" ,serif;
    font-size: 90px;
    color: #fff;
}

h2 { 
    font-family: "proxima-nova",sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

h3 {
    font-family: "proxima-nova",sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
}

p {
    font-size: 17px;
    font-weight: 100;
    line-height: 32px;
}

br {
    padding-bottom:10px;
}

.subtitle {
    margin: 35px 0 30px;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.view {
    font-family: "proxima-nova";
    font-weight: 100;
    color: #fff;
    font-size: 10px;
    letter-spacing: 6px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #fff;
    transition: 0.3s;
    padding: 10px 20px;
}
.view:hover {
    transition: 0.3s;
    color: #222;
    background-color: rgba(250, 250, 250, 0.3);
}

.button {
  color: #fff;
  font-size: 15px;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 15px 35px;
  border-radius: 0px;
  border: 1px solid #fff;
  transition: 0.4s;
  display: inline-block;
}

.button:hover {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  background-opacity: 0.5;
}

.blue {
    color: #afc6d1;
}

.grey {
    color: #dededc;
}

.gold {
    color: #ddc87d
}

.caption {
    float: left;
    padding-left: 12%;
    padding-top: 20%;
    width: 35%;
    background: #afc6d1;
    padding-right: 10px;
    height: 100%;
}

.header {
    height: 400px;
    background-color: #333;
}

.text {
    margin-top: 60px;
}

.underline {
    border-bottom: 1px solid;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 65%;
    height: 100%;
    float: right;
    background-size: cover;
}

footer {
    margin: 50px 0;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 800;
}

#loader {
    display: block;
    position: relative;
    left: 10%;
    top: 45%;
    z-index: 1001;
}

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #dededc;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 1s ease-out; 
        -webkit-transition: all 1s ease-out;  
                transition: all 1s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }

    #content {
        margin: 0 auto;
        padding-bottom: 50px;
        width: 80%;
        max-width: 978px;
    }  

    







